{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="{% static 'css/main.css' %}">
    
    <title>JobOnFingerTip</title>
    
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="#">JobOn<span>Finger</span><sub>Tip</sub></a>
            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="">
    
            <nav>
              <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">
    
              <ul class="primary-nav">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">Admins</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Candidates</a></li>
              </ul>
    
              <ul class="secondary-nav">
                <li><a href="#">Contact</a></li>
                <li class="go-preium-cta"><a href="#">Announcement</a></li>
              </ul>
              
            </nav>

        </div>
    </div>

      <section>
          <div class="container">
              <div class="left-col">
                  <p class="subhead">It's Nitty &amp; Gritty</p>
                  <h1>Are You Looking For Job?? <br>You Are In the Right Place <br><br>It is never too late to be what you might have been</h1>
                  <div class="hero-cta">
                      <a href="#"  class="primary-cta">Apply For A Job</a>
                      <a href="#"  class="watch-video-cta">
                      <img src="images/watch.svg" alt="Watch a video">Watch a video</a>
                  </div>
    
              </div>
          <img src="images/illustration.svg" class="hero-img" alt="Ilustration">
    
          </div>
      </section>
      
      <section class="features-section">
          <div class="container">
              <ul class="features-list">
                  <li>Unlimited Job opportunities</li>
                  <li>Online Jobs</li>
                  <li>Open Source Collaboration</li>
                  <li>Social Medai Announcements</li>
                  <li>Real Time Collection</li>
                  <li>Other awesome features</li>
              </ul>
              <img src="images/me.jpg" alt="it is me">
    
          </div>
    
      </section>
    


      <section class="testimonials-section">
          <div class="container">
              <ul>
                  <li>
                      <img src="images/person.jpg" alt="person">
                      <blockquote>"You've gotta dance like there's nobody watching,
                          Love like you'll never be hurt,
                          Sing like there's nobody listening,
                          And live like it's heaven on earth."</blockquote>
                      <cite>- William W. Purkey </cite>
                  </li>

                  <li>
                    <img src="images/person.jpg" alt="person">
                    <blockquote>"You've gotta dance like there's nobody watching,
                        Love like you'll never be hurt,
                        Sing like there's nobody listening,
                        And live like it's heaven on earth."</blockquote>
                    <cite>- William W. Purkey </cite>
                </li>

                 <li>
                      <img src="images/person.jpg" alt="person">
                      <blockquote>"You've gotta dance like there's nobody watching,
                          Love like you'll never be hurt,
                          Sing like there's nobody listening,
                          And live like it's heaven on earth."</blockquote>
                      <cite>- William W. Purkey </cite>
                  </li>
                  
              </ul>
    
          </div>
      </section>



    
      <section class="content-section">
          <div class="container">
              <div class="contact-left">
                  <h2>Contact</h2>
                  <form action="">
                      <lable for="name" >Name</lable>
                      <input type="text" id="name" name="name">
    
                      <lable for="email" >Email</lable>
                      <input type="email" id="email" name="email">
                      <lable for="message">Message</lable>
                      <textarea name="message" id="message" cols="30" rows="10"></textarea>
                      <input type="submit" class="send-message-cta" value="send message">
                  </form>
              </div>
              <div class="contact-right">
                  
              </div>
          </div>
      </section>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d252230.24876740435!2d38.63805612189416!3d8.963150493738382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85cef5ab402d%3A0x8467b6b037a24d49!2sAddis%20Ababa%2C%20Ethiopia!5e0!3m2!1sen!2sfr!4v1637517503605!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <footer class="foot">
        <p>&copy Copy Right 2021</p>
    </footer>
        
</body>
</html>